*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
        text-align: center;
        background-image: url("./background.png");
        // background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */

        // background-size: contain;
        // background-size: cover; /* Resize the background image to cover the entire container */
        display: flex;
        align-items: center;
        justify-content: center;





        
}

.wrapper{
  padding: 1em;
  align-items: center;
  position: absolute;
  top: 50%;
  // left: 50%;
  // margin: auto;
  transform: translateY(-50%);
  // // transform: translateX(-50%);
  // background-color: blanchedalmond;


  .wrapper__title{
    color: white;
    font-size: 8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .15em;
    font-weight: bolder;
    text-shadow: 2px 2px 8px #000000;
    margin-bottom: .4em;
  }

  .wrapper__form{
    width: 40vw;
    height: 25vw;
    // background-color: rgba(245, 245, 245, 0.582);
    margin: auto;
    position: relative;
    padding-top: 0;
    border-radius: 1em;

    .tabs{
      height: 4em;
      width: 100%;
      position: relative;
      top: 0%;
      display: flex;
      border-radius: 1em;

      
  
      .tab{
        outline: none;
        cursor: pointer;
        width: 50%;
        border: none;
        font-size: 1.1em;
        font-weight: bold;
        border-radius:  0px 1em 0px 0px ;
  
        &:hover{
          background-color: rgba(230, 230, 230, 0.226);
        }
      }
      .login{
        background-color:  rgba(245, 245, 245, 0);
        border-radius:  1em 0px  0px 0px ;
        background-color: rgba(245, 245, 245, 0.582);
      }

      .signup{
        background-color: rgba(245, 245, 245, 0.281);
      }
    }
  
    .form{
      margin: auto;
      width: 40vw;
      // height: 21vw;
      // background-color: royalblue;
      padding: 1em;
      position: absolute;
      top:4em;
      background-color: rgba(245, 245, 245, 0.582);
      border-radius:  0px 0px 1em 1em;

  
  
      .input{
        width: 85%;
        padding: .5em;
        margin-bottom: 1em;
        margin-top: 1em;
        height: 4em;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.295);
        text-align: center;
        font-size: 1em;
        border-radius: 1em;
      }
  
      .form-btn{
        outline: none;
        cursor: pointer;
        width: 30%;
        height: 3em;
        border: none;
        margin-top: 1.5em;
        margin-bottom: 1em;
        background-color: black;
        color: white;
        font-size:1em;
        border-radius: 1em;
        // transition: transform .2s ease-in-out;
  
        &:hover{
          transform: scale(1.05);
        }
      }
    }
    #form-signup{
      display: none;
      background-color: rgba(245, 245, 245, 0.281);

      .input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(0, 0, 0);
        opacity: 1; /* Firefox */
      }
      
    }
  }

  

}