
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
          background-image: url("./background.png");
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
  
          background-size: contain;
          background-size: cover;
          color: white;

        }
        .gameScreen{
          height: 100vh;
          display: grid;
          grid-template-areas:"players wrapper outOfGamePieces";
          grid-template-columns: 1fr  50vw 1fr;
          align-items: center;
          /* grid-template-columns:700px; */
        }
        .players{
          grid-area: players;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 45vw;
          align-items: center;
          /* background-color: chartreuse; */
          padding-top: 2em;
          width: 85%;
          margin: auto;
        }
        .cards{
          /* background-color: rgb(129, 124, 112); */
          width: 100%;
        }
        .outOfGamePieces{
          grid-area: outOfGamePieces;
          height: 45vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .blackEnthronement, .whiteEnthronement{
          z-index: 1;
        }

        .enthronementOption{        
          height: 5VW;
          width: 5vw;
          padding: 0%;
          display: flex;
          align-items: center;
          justify-content: center;
        }


      
      .upsideDown{
        transform: rotate(180deg);
        
      }

 


        .wrapper{
          /* background-color: rgba(252, 252, 252, 0.548); */
          width: 45vw;
          height: 45vw;
          /* color: black; */
          /* background-color: aquamarine; */
          /* position: absolute;
          top:50%;
          left:50%;
          transform: translate(-22.5vw,-22.5vw); */
          display: grid;
          align-items: center;
          /* transform: translateY(-225px); */

          grid-template-areas: "rowLetters board"
                       "emptyBox  columnsNumbers";
          grid-template-rows:  40vw 5vw;
          grid-template-columns:  5vw 40vw;
          grid-area: wrapper;
          position: relative;
        }
        .emptyBox{
          grid-area: emptyBox;
        }
        #root {
            display: grid;
            grid-template-columns: repeat(8, 5VW);
            /* width: 40.3VW; */
            /* height: 40.5VW; */
            /* border: 1px solid black; */
            grid-area: board;
            transition: transform 1s ease-in-out;
            background-color: rgba(255, 255, 255, 0.699);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        #root:hover {
          cursor: pointer; 
        }

        .columnsNumbers{
          grid-area: columnsNumbers;
          display: flex;
          /* flex-direction: row; */
        }

        .letter, .number{
          height: 5vw;
          width: 5vw;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2vw;
        }

        .rowLetters{
          grid-area: rowLetters;
          display: flex;
          flex-direction: column-reverse;
        }


        .black {
            background-color: rgba(0, 0, 0, 0.445);
        }

        .white {
            background-color: white;
        }

        .board {

           
            height: 5VW;
            /* text-align: center; */
            padding: 0%;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .board:hover {
          cursor: pointer; 
        }

        .pawn {
            border-radius: 50%;
            font-size: 3.7VW;
            color: black;
            /* font-weight: bold; */

           
        }
        .pawn:hover {
          transform: scale(1.2); 
        }

        .outOfGamePieces__white, .outOfGamePieces__black{
          border: rgba(0, 0, 0, 0.24) 1.5px solid;
          width: 80%;
          height: 15vw;
          text-align: center;
         
        }

        h5,h3{
          text-align: center;
          width: 80%;
          font-size: 1.52vw;
        }

        .outOfGamePieces__white{
          margin-bottom: 5vw;
        }

        img{
          width: 5vw;
          height: 5vw;
        }

        .turn{
          margin-bottom: 5vw;
        }

        .player__profile{
          display: flex;
          justify-content: space-between;
          /* background-color: darkgreen; */
          text-align: center;
          height: 10vw;

     
     
        }

        .player__profile--white{
          width: 45%;
          background-color: white;
          color: black;
          position: relative;
          padding: 1em;
          padding-top: 3vw;
          border-radius: 1em;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


        }

        .player__profile--black{
          width: 45%;
          background-color: white;
          color: black;
          position: relative;
          padding: 1em;
          padding-top: 3vw;
          border-radius: 1em;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        img{
          border-radius: 50%;
          position: absolute;
          top:-2em;
          left:25% ;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       

        #turnTheBoard{
          position: absolute;
          top: -2vw;
          left:43vw;
          width: 4em;
          height: 4em;
          border-radius: 0%;

          background-color: rgba(255, 255, 255, 0);
          border-radius: 50%;
          z-index: 1;
          border: none;
          outline: none;
          transition: 1s;
  
          /* width: 80%;
          border: none;
          font-size: 1em;
          padding: 1em;
          border-radius: 1em;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition:  .1s;
          outline: none; */

          
          
        }

        #turnTheBoard:hover{
          cursor: pointer;
          transform: rotate(180deg);
        
          /* background-color: rgba(255, 255, 255, 0.788); */
        }

        #turnTheBoard:hover + #rotate{
          display: block;
        }
       
        #chat{
          /* background-color: violet; */
          width: 100%;
          height: 30vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: rgba(255, 255, 255, 0.397);
        }

        #message{
          width: 80%;
          height: 1em;
          padding: 1em;
          outline: none;
          border: none;
        }

        #chatBtn{
          width: 20%;
          outline: none;
          border: none;
          /* padding: 1em; */
          background-color: black;
          color: white;
        }

        form{
          display: flex;
        }

        h2{
          margin-bottom: 1em;
          text-align: center;
          padding-top: 1em;
        
        }

        p{
          margin: .5em 5em;
          background: tomato;
          padding: .5em;
          border-radius: .3em;
        }

        h4{
          font-size: 1.5vw;
        }

        #rotate{
          display: none;
          position: absolute;
          top: 1vw;
          left:46vw;
          width: 4em;
          padding: .3em;
          /* height: 4em; */
          color: black;

          background-color: rgb(255, 255, 255);
          z-index: 1;
          border: none;
          outline: none;
          transition: 1s;
        }

        #turn{
          text-align: center;
          width: 80%;
          font-size: 2em;
          background-color: rgba(0, 0, 0, 0.521);
          padding: .3em;
          font-weight: bold;
          text-shadow: black 3px 3px 3px;
        }