*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
        text-align: center;
        background-image: url("./background.png");
        // background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */

        // background-size: contain;
        background-size: cover; /* Resize the background image to cover the entire container */
        display: flex;
        align-items: center;
        justify-content: space-between;   
}

.actions{
  height: 100vh;
  width: 50%;
  padding: 2em;
  display: flex;
  align-items: center;
  
  #newGameButton{
    border: none;
    // width: 20%;
    // height: 2em;
    font-size: 2em;
    padding: 1em;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:  .5s;

    &:hover{
      transform: scale(1.05);
      box-shadow: 6px 6px 18px rgb(0, 0, 0);
      cursor: pointer;
    }
  }

}

.userProfile{
  // background-color: chartreuse;
  height: 100vh;
  width: 50%;
  padding: 2em;
  display: flex;
  align-items: center;
  

  .card{
    background-color: rgba(255, 255, 255, 0.692);
    height: 40vw;
    width: 70%;
    margin: auto;
    position: relative;
    margin-top: 3em;
    margin-left: 15em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
  }

  img{
    height: 6em;
    width: 6em;
    position: absolute;
    top: -3em;
    left:50%;
    transform: translateX(-3em);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}