#numbers{
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  width: 500px;
  height: 500px;
}

#root {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;
}

.black {
  background-color: rgba(128, 128, 128, 0.637);
}

.white {
  background-color: white;
}

.board {

  border: solid 1px black;
  height: 50px;

}

.pawn{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: blueviolet;

}